# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3
*.zip

# GPT-2 model (skip big folder)
backend/gpt2-norton/

# Training scripts / dataset
# Skip GPT-2 files in backend
backend/train_gpt2.py
backend/prepare_dataset.py
backend/train.txt
backend/download_gpt2.py
backend/gpt2_model.py
backend/gpt2-norton/


# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
