# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3
*.zip

# GPT-2 model (skip big folder)
backend/gpt2-norton/

# Training scripts / dataset
train_gpt2.py
prepare_dataset.py
train.txt
download_gpt2.py
gpt2_model.py


# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
