# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.sqlite3
*.zip

# GPT-2 model
backend/gpt2-norton/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env


# In .gitignore
train_gpt2.py
prepare_dataset.py
train.txt
download_gpt2l.py